body {
 background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("../Images/ClosestAsteroid/nightsky.png");
 background-size: cover;
 height: 100vh;
 background-color: #cccccc;
}
.content{
  height:95vh;
}
.LeftContent{
  text-align: left;
  padding-top: 6%;
  padding-left: 4%;
  width: 50%;
  float: left;
  display: inline-block;
}

.RightContent{
  float: right;
  display: inline-block;
  width: 50%;
  padding-top: 6%;
  padding-right: 4%;
}

.title{
  color: white;
  font-size: 700%;
  font-family: 'Audiowide';
  line-height: 96px;
  text-shadow: 2px 2px black;

}

.buttonContainer{
  margin-top: 7%;
  font-size: 400%;
  color: orange;
  font-family: 'Audiowide';
  line-height: 100px;
}

button{
  background: transparent;
  display: block;
  border: none;
  outline: none;
  transition: 250ms;
  text-shadow: 2px 2px black;

}

button:hover{
  color: white;
}
.selected{
  color: white;
}
.unselected{
  color: orange;
}
.hidden{
  opacity: 0;
}
.fade-in{
  animation: fade 250ms;
}
@keyframes fade {
  from{opacity: 0;}
  to{opacity: 1;}
}
.nasaContent{
  margin-top: 35%;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 35px;
  font-family: 'B612';
}
#data{
  color: white;
}
.colored{
  color: orange;
}

.bottom-info{
  height:10px;
  text-align: right;
  margin-right: 10px;
  bottom: 0;
  color: #333333;
}
